#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
export DH_VERBOSE = 1


%:
	dh $@


override_dh_auto_build:
		docbook-to-man debian/yaknewtab.sgml > debian/yaknewtab.1
		dh_auto_build
